%section.holder
  %section
    %h3 Contact

    %p For further information contact:

    %p Andrew on andrew.wallace@fishhall.org.uk / 07798 666 553

    %p Jamie on wallacejamiec@gmail.com / 0776 263 1223

