%section
  %h3 Inside

  %ul
    %li 5 bedrooms (sleeps 10) – Main double (with own bathroom), another very small double, three twins (one upstairs, one downstairs, one up a separate staircase at back of house)
    %li 3 bathrooms – Main bathroom, one en suite, a shower room (downstairs)
    %li Large sitting room, with wood-burning stove (wi-fi, but no TV!)
    %li Dining area, with wood-burning stove
    %li Kitchen (with dishwasher + large fridge and large freezer)
    %li Utility/boot room (with washing machine)

  %img{:alt => "Sitting room", :src => "/assets/sittingroom.jpg"}
  %img{:alt => "Downstairs bedroom", :src => "/assets/downstairsbedroom.jpg"}
  %img{:alt => "Main bathroom", :src => "/assets/bathroom.jpg"}