%section.holder
  %section
    %h3 Outside
    %ul.text
      %li Large garden
      %li Terrace with table/seats + pizza oven
      %li Open access to large adjacent field
      %li Burn
      %li Small orchard
      %li Veg patch
      %li Wood shed
      %li Large steading
      %li Boule/petanque pitch
      %li Ping pong table (in steading)
      %li Large pond (Lochandy)
      %li Various forest walks straight from the house

    %img{:alt => "Terrace", :src => "/assets/terrace.jpg"}
    %img{:alt => "View from hill", :src => "/assets/viewfromhill.jpg"}
    %img{:alt => "Field setting", :src => "/assets/fieldsetting.jpg"}
    %img{:alt => "Burn", :src => "/assets/burn.jpg"}
    %img{:alt => "Boule", :src => "/assets/boule.jpg"}
    %img{:alt => "Loch Andy", :src => "/assets/lochandy.jpg"}
    %img{:alt => "Irises", :src => "/assets/irises.jpg"}
    %img{:alt => "Veg patch", :src => "/assets/vegpatch.jpg"}
    %img{:alt => "Sunset", :src => "/assets/sunset.jpg"}
    %img{:alt => "Rainbow", :src => "/assets/rainbow.jpg"}
    %img{:alt => "Cow on hill", :src => "/assets/cowonhill.jpg"}
    %img{:alt => "Cool sky", :src => "/assets/coolsky.jpg"}
    %img{:alt => "Snowy BT", :src => "/assets/snowybt2.jpg"}
    %img{:alt => "Moray Firth", :src => "/assets/morayfirth.jpg"}
    %img{:alt => "Dolphins", :src => "/assets/dolphins.jpg"}

    

