%section.holder
  %section
    %h3 Visit

    %p
    .responsive-iframe-container
      %iframe{:height => "480", :src => "https://mapsengine.google.com/map/embed?mid=zOMvawAxLntk.kDHnsvAcNmhQ", :width => "800"}
    %p
      %h4 Shopping: food, drink etc.
    %p
      On, or just off,
      %a{:href => "http://www.high.st/town.aspx?TownName=Forres", :target => "_blank"} Forres High Street
      you’ll find 3 butchers -  
      %a{:href => "http://www.macbeths.com/home.aspx", :target => "_blank"} Macbeth’s,
      Frasers and
      %a{:href => "http://murdochbutchers.co.uk/welcome-to-murdoch-butchers.html", :target => "_blank"} Murdoch’s
      and a couple of bakeries -
      %a{:href => "http://www.macleansbakery.com/index.php?option=com_content&amp;view=article&amp;id=5&amp;Itemid=2", :target => "_blank"} Maclean’s
      and
      %a{:href => "http://www.ashersbakery.co.uk/ashers-shops-c-11.html", :target => "_blank"} Ashers. 
      There’s a very small health food shop and a pretty good Co-op.  The health food shop will order in fantastic bread from the Findhorn bakery, plus local organic eggs, and even organic meat, if you call them before 4pm for collection the next day.  They’re at 99 The High Street, on (01309) 672 745.
    %p
      Further afield, you can get excellent bread, cheese, veg, wine, beer and other staples at the
      %a{:href => "http://www.phoenixshop.co.uk/about/", :target => "_blank"} Phoenix
      shop at the Findhorn Foundation.
      %a{:href => "https://www.facebook.com/WoodsideFarmCoffeeShopAndPlayArea", :target => "_blank"} Woodside Farm Shop
      in Kinloss has good value local veg, meat and eggs (and a children’s play area).
      %a{:href => "https://www.facebook.com/pages/Wester-Hardmuir-Fruit-Farm/198307036877767", :target => "_blank"} Wester Hardmuir
      farm shop (on the road to Nairn) has great fruit and veg (in season, open June-Dec).  At Ardersier (between Nairn and Inverness)
      %a{:href => "http://www.connage.co.uk/", :target => "_blank"} Connage Highland Dairy
      sells organic cheese.
    %p
      There’s a good distillery tour at
      %a{:href => "http://www.benromach.com/", :target => "_blank"} Benromach
      in Forres, and plenty more
      %a{:href => "http://www.maltwhiskytrail.com/pages/view/the-trail", :target => "_blank"} all over Speyside
      For beer, try the
      %a{:href => "http://www.blackislebrewery.com/default.asp", :target => "_blank"} Black Isle Brewery
      in Munlochy (bit of a hike – just north of Inverness), or the new
      %a{:href => "http://www.speysidecraftbrewery.com/index.html", :target => "_blank"} Speyside Craft Brewery
      in Forres.
    %p
      If you need some retail therapy, try
      %a{:href => "http://www.brodiecountryfare.com/index.asp", :target => "_blank"}> Brodie Countryfare
      , which sells everything from jam, to toys, to ‘high end’ fashion.  And in complete contrast, for eclectic antiques, vintage clothes, architectural salvage and knick-knacks, visit
      %a{:href => "http://www.auldearnantiques.co.uk/", :target => "_blank"} Auldearn Antiques
    %p
      %h4 Meal/drink out
    %p
      The
      %a{:href => "http://www.logie.co.uk/cafe.php", :target => "_blank"} Olive Tree Cafe
      at Logie Steading does a very good lunch, as do
      %a{:href => "http://www.bakehousecafe.co.uk/index.html", :target => "_blank"} The Bakehouse
      in Findhorn village and
      %a{:href => "http://www.phoenixshop.co.uk/cafe/", :target => "_blank"} The Blue Angel Cafe
      in the Findhorn Foundation.
    %p
      The only pub worth visiting is the
      %a{:href => "http://www.kimberleyinn.com/The%20Kimberley%20Inn.html", :target => "_blank"} Kimberley Inn
      in Findhorn village, which also does some good (sea)food.  If you’re in need of a Michelin starred meal, try
      %a{:href => "http://www.boath-house.com/", :target => "_blank"} Boath House
      (by Auldearn, on the road to Nairn).  Franklin’s Restaurant at the
      %a{:href => "http://www.clunybankhotel.co.uk", :target => "_blank"} Cluny Bank
      hotel in Forres also gets very good
      %a{:href => "http://www.tripadvisor.co.uk/Restaurant_Review-g551767-d732301-Reviews-Franklin_s_Restaurant_at_Cluny_Bank-Forres_Moray_Scotland.html", :target => "_blank"} reviews.
    %p
      %h4 Castles, gardens and attractions
    %p
      %a{:href => "http://www.logie.co.uk/logiesteading.php", :target => "_blank"} Logie Steading
      is only 15 minutes away (an hour cross-country on foot if you’re speedy) and has a cafe, second-hand bookshop, gallery, plant nursery, antiques shop, playground and access to river walks.
      %a{:href => "http://www.findhorn.org/", :target => "_blank"} The Findhorn Foundation
      is a “spiritual community, ecovillage and an international centre for holistic education, helping to unfold a new human consciousness and create a positive and sustainable future”. Worth a visit for the
      %a{:href => "http://www.phoenixshop.co.uk/phoenix/", :target => "_blank"} shop,
      %a{:href => "http://www.phoenixshop.co.uk/cafe/", :target => "_blank"} cafe,
      %a{:href => "http://www.morayartcentre.org/", :target => "_blank"} art centre
      and to take a look at the eco-housing and wind turbines.
    %p
      %a{:href => "http://www.cawdorcastle.com/", :target => "_blank"} Cawdor Castle
      (of Macbeth fame) is probably the most popular tourist attraction in the area, and has beautiful gardens and woods. Try
      %a{:href => "http://www.nts.org.uk/Property/Brodie-Castle/", :target => "_blank"} Brodie Castle
      and
      %a{:href => "http://www.ballindallochcastle.co.uk/speyside/index.cfm", :target => "_blank"} Ballindalloch Castle
      if you need a further castle fix, or
      %a{:href => "http://www.historic-scotland.gov.uk/propertyresults/propertyoverview.htm?PropID=PL_247&amp;PropName=Spynie%20Palace", :target => "_blank"} Spynie Palace
      %a{:href => "http://www.historic-scotland.gov.uk/propertyresults/propertyabout.htm?PropID=PL_136&amp;PropName=Fort%20George", :target => "_blank"} Fort George
      and the
      %a{:href => "http://www.nts.org.uk/Culloden/Home/", :target => "_blank"} Culloden
      visitor centre are both very impressive.
    %p
      The Moray First coastal villages of
      %a{:href => "http://www.undiscoveredscotland.co.uk/findochty/findochty/index.html", :target => "_blank"} Findochty,
      %a{:href => "http://www.portknockiewebsite.co.uk/", :target => "_blank"} Portknockie,
      %a{:href => "http://www.discovercullen.com/", :target => "_blank"} Cullen
      (of Cullen Skink soup fame) and
      %a{:href => "http://en.wikipedia.org/wiki/Portsoy", :target => "_blank"} Portsoy
      are well worth a visit.  Jimmy Paterson, trombonist with Dexy’s Midnight Runners, was born and raised in Portsoy.
    %p
      In Forres, check out the town’s social history at the
      %a{:href => "http://www.falconermuseum.co.uk/", :target => "_blank"} Falconer Museum
      or take a trip to the
      %a{:href => "http://www.highlandfolk.com/", :target => "_blank"} Highland Folk Museum
      (better than it sounds) in Newtonmore.
    %p
      %h4 Walks and wildlife
    %p
      There are plenty of walks straight from the house, and the
      %a{:href => "http://www.davaway.org.uk/", :target => "_blank"} Dava Way
      passes nearby, stretching from Forres to Grantown-on-Spey. There are lots of great walks along the river Findhorn, at
      %a{:href => "http://www.walkhighlands.co.uk/moray/randolphs-leap.shtml", :target => "_blank"} Randolph’s Leap,
      %a{:href => "http://www.walkhighlands.co.uk/moray/darnaway-forest.shtml", :target => "_blank"} Dunearn Burn,
      %a{:href => "http://www.walkhighlands.co.uk/moray/sluie-walk.shtml", :target => "_blank"} Sluie
      %a{:href => "http://www.historic-scotland.gov.uk/propertyresults/propertydetail.htm?PropID=PL_015&amp;PropName=Ardclach%20Bell%20Tower", :target => "_blank"} Ardclach
      and
      %a{:href => "http://www.cawdor.com/index.php", :target => "_blank"} Drynachan.
      For beach walks go to Findhorn village, or walk to the sea through the woods at
      %a{:href => "http://www.forestry.gov.uk/forestry/infd-76pr9z", :target => "_blank"} Culbin
      where there’s also a
      %a{:href => "http://www.forestry.gov.uk/forestry/INFD-76QJQK", :target => "_blank"} viewing tower.
    %p
      If you need to conquer a summit, try the
      %a{:href => "http://www.walkingclub.org.uk/hill/knock-of-braemoray.shtml", :target => "_blank"} Knock of Braemoray.
    %p
      Ospreys nest near the house, but for the full-on RSPB visitor experience, visit
      %a{:href => "http://www.rspb.org.uk/reserves/guide/l/lochgarten/index.aspx", :target => "_blank"} Loch Garten/Abernethy
      and maybe
      %a{:href => "http://www.rothiemurchus.net/index.html", :target => "_blank"} Rothiemurchus
      at the same time. You could also take the
      %a{:href => "http://www.cairngormmountain.org/funicular-railway-panel/", :target => "_blank"} funicular
      up Cairn Gorm, or visit the
      %a{:href => "http://www.highlandwildlifepark.org/", :target => "_blank"} Highland Wildlife Park
      near Kincraig (where you can see polar bear, wolf, lynx etc).
    %p
      There are numerous
      %a{:href => "http://www.dolphinspace.org/index.asp?pageid=10370", :target => "_blank"} dolphin and wildlife watching boat trips
      in the Moray Firth, or simply spot the dolphins
      %a{:href => "http://www.wdcs.org/national_regions/scotland/shorewatch/index.php", :target => "_blank"} from the shore
      particularly at 
      %a{:href => "http://en.wikipedia.org/wiki/Chanonry_Point", :target => "_blank"}> Chanonry Point. 
      %a{:href => "http://www.north58.co.uk", :target => "_blank"}  North 58 Sea Adventures
      do some great trips out of Findhorn village harbour – they have two high speed ribs from which you can often see the famous Moray Firth
      %a{:href => "http://www.bbc.co.uk/news/uk-scotland-highlands-islands-17908002", :target => "_blank"} bottlenose dolphins
      (resident year-round).
    %p
      %h4 Sports and activities
    %p
      For kids (and adults too) there’s a brilliant outdoor centre in Carrbridge, the
      %a{:href => "http://www.landmarkpark.co.uk/", :target => "_blank"} Landmark Forest Adventure Park
      And on a wet day Inverness has a
      %a{:href => "http://www.invernessleisure.co.uk/facilities/pools/", :target => "_blank"} swimming pool
      (flumes, wave machines etc.)
      %a{:href => "http://www.myvue.com/home/cinema/inverness", :target => "_blank"} multiplex cinema
      and the
      %a{:href => "http://www.eden-court.co.uk/", :target => "_blank"} Eden Court Theatre.
      There is also a 25m swimming pool in
      %a{:href => "http://www.moray.gov.uk/moray_swimming/page_40366.html", :target => "_blank"} Forres.
    %p
      %a{:href => "http://www.forrestennisclub.co.uk", :target => "_blank"} Forres Tennis Club
      has four ‘all weather rubberised polymeric surface’ courts, two of which are floodlit.  They are very friendly there.
    %p
      The
      %a{:href => "http://www.fishpal.com/Scotland/Findhorn/", :target => "_blank"} river Findhorn
      has some of the best salmon fishing in Scotland (ergo the world…).  For fishing permits, heading upstream from the firth, contact the
      %a{:href => "http://www.faa.org.uk/", :target => "_blank"} Forres Angling Association,
      %a{:href => "http://www.altyre-estate.co.uk/contacts.aspx", :target => "_blank"} Altyre Estate,
      %a{:href => "http://www.morayestates.com/estate/fishing/", :target => "_blank"} Moray Estates,
      %a{:href => "http://home.btconnect.com/lethenestate/lethen_master.html", :target => "_blank"} Lethen Estate,
      %a{:href => "http://www.logie.co.uk/findhorn.php", :target => "_blank"} Logie Estate,
      %a{:href => "http://www.speycaster.net/river_findhorn.htm", :target => "_blank"} Glenferness Estate
      and
      %a{:href => "http://www.cawdor.com/activites_river-fishing.php", :target => "_blank"} Cawdor Estate.
      Get in touch with Andrew for the low-down.
    %p
      For trout fishing try
      %a{:href => "http://www.logie.co.uk/lochindorb.php", :target => "_blank"} Lochindorb
      or
      %a{:href => "http://home.btconnect.com/lethenestate/loch_belivat.html", :target => "_blank"} Loch Belivat.
    %p
      There’s also
      %a{:href => "http://www.aceadventures.co.uk/locations/river-findhorn-ace-auchnagairn/", :target => "_blank"} canoeing, kayaking and white water rafting
      on the Findhorn.
    %p
      For golfers, there are two championship courses in the area at
      %a{:href => "http://www.nairngolfclub.co.uk/", :target => "_blank"} Nairn
      and
      %a{:href => "http://www.castlestuartgolf.com/", :target => "_blank"} Castle Stuart.
      There are other (cheaper) options at
      %a{:href => "http://www.forresgolfclub.co.uk/", :target => "_blank"} Forres,
      %a{:href => "http://www.nairndunbar.com/", :target => "_blank"} Nairn Dunbar
      and
      %a{:href => "http://www.carrbridgegolf.com/", :target => "_blank"} Carrbridge.