

/* site wide */



.container.custom {
  margin-top: 10px;
  // padding: 10px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Metrophobic', sans-serif;
  font-size: 16px;
}

nav.navbar.navbar-default {
  background-color: rgb(3,99,34);
  border: 0px;
  margin-bottom: 15px;
}

ul.nav.navbar-nav.navbar-right {
  padding-top: 5px;
  font-size: 15px;
  a:hover {
    color: rgb(193,245,83);
  }
  a {
    color: white;
  }
}

.navbar-brand {
  a {
    color: white;
    font-size: 30px;
  }
  a:hover {
    color: rgb(193,245,83);
  }
  a:link {
    text-decoration: none;
  }
}

section {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 850px;
}

section.holder {
  background-color: rgb(249,244,240);
  max-width: 1140px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;

}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



iframe, object, embed{
  max-width: 100%;
}

ul.text {
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

img.map {
  max-width: 405px;
  height: auto;
  border-radius: 5px;
}
